.button{
-fx-background-color:#6c5ce7;
-fx-background-radius:0;
}

.button:hover{
-fx-background-color:#FFF;
}

.glyph-icon{
-fx-background-color:#000;
}

.button:pressed{
-fx-background-color:#6c5ce7;
}

.button:active{
-fx-background-color:#6c5ce7;
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar .increment-arrow {
  -fx-background-color: #fff;
}

.scroll-bar .increment-button:hover {
  -fx-background-color: #000;
}

.scroll-bar .decrement-arrow {
        -fx-background-color: #fff;
}
.scroll-bar .decrement-button:hover {
  -fx-background-color: #000;
}


.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {

}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}
